.App {
  text-align: center;
}
.contact-wrapper {
  border: 2px solid;
  width: 100vh;
  height: 30vh;
  display: inline-block;
}
.btn {
  background-color: rgb(17, 86, 224);
  color: #fff;
}

label,
input {
  margin-left: 10px;
  margin-bottom: 5px;
}
